#particle {
    z-index: -10;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

* {
    cursor: default;
}
html, body {
    margin: 0px;
    padding: 0px;
    background-color: #070B34;
}
body {
    overflow: hidden;
}

@font-face {
    font-family: 'MerryChristmas';
    src: url('./fonts/MerryChristmasStar.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('./fonts/Oswald-Regular.ttf');
}

@font-face {
    font-family: 'Anton';
    src: url('./fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: 'Comic Sans';
    src: url('./fonts/COMIC.TTF');
}

@font-face {
    font-family: 'Sunshiney';
    src: url('./fonts/Sunshiney-Regular.ttf');
}

.starry {
    font-family: 'MerryChristmas', cursive;
    font-weight: 400;
}
.anton {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}
.oswald {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
