h1 {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 600px;
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    font-family: 'MerryChristmas';
    text-transform: lowercase;
    padding: 30px 10px;
}

h1 .small {
    display: block;
    font-size: 28px;
    margin-top: 7px;
    font-weight: 400;
}
h1 .small:first-of-type {
    margin-top: 0px;
}

#left, #right {
    position: absolute;
    top: 0px;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left {
    left: 0px;
}

#right {
    right: 0px;
}

#play-btn {
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Oswald";
    color: #fff;
    text-decoration: none;
    padding: 20px 50px;
    border: 1px solid #fff;
    font-size: 34px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.15s;
    text-align: center;
}

#play-btn span {
    display: block;
    cursor: pointer;
    font-size: 14px;
}

#play-btn:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.3);
}

.hl-battle {
    font-weight: normal;
    color: #cc6655;
}

.hl-moon {
    font-weight: normal;
    color: #eeaa88;
}

.hl-sun {
    font-weight: normal;
    color: #f8ff06;
}
